@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --background: #282C33;
  --primary: #C778DD;
  --gray: #ABB2BF;
  --foreground: var(--white);
  --font-family: "Fira Code", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --background: #282C33;
    --primary: #C778DD;
    --gray: #ABB2BF;
    --foreground: var(--white);
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-family);
}